html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1{
    padding-bottom: 2px;
    text-align: center;
}

table{
    width: 80%;
    margin: 40px auto;
    background: lightpink
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid;
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: palevioletred;
}

input[type="text"],input[type="number"]{
    width:75%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: lightblue;
}

input[type="reset"]:hover{
    background: lightblue;
}

button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background: lightblue ;
}
